<%= form_for :supermercado, url: {action: "create"} do |f| %>
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre%>
  </p>
  <p>
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion%>
  </p>
  <p>
    <%= f.label :numero_telefono %><br>
    <%= f.text_field :numero_telefono%>
  </p>
  <p>
    <%= f.label :hora_de_apertura %><br>
    <%= f.time_select :hora_de_apertura %>
  </p>
  <p>
    <%= f.label :hora_de_cierre %><br>
    <%= f.time_select :hora_de_cierre %>
  </p>
  <p>
    <%= f.label :region %><br>
    <%= f.text_field :region%>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>