<%= form_for :supermercado do |f| %>
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :text%>
  </p>
  <p>
    <%= f.label :direccion %><br>
    <%= f.text_field :text%>
  </p>
  <p>
    <%= f.label :numero_telefono %><br>
    <%= f.text_field :text%>
  </p>
  <p>
    <%= f.label :hora_de_apertura %><br>
    <%= select_datetime %>
  </p>
  <p>
    <%= f.label :hora_de_cierre %><br>
    <%= select_datetime %>
  </p>
  <p>
    <%= f.label :region %><br>
    <%= f.text_field :text%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>