<h1> Listando Supermercado </h1>

 <h3><%= @supermercado.nombre %></h3>

 <%= form_tag(supermercado_path, :method => "get", id: "search-form") do %>
 <div>
   <%= text_field_tag :search, params[:search], placeholder: "Busca por tag ejemplo: Vegetal", :size => 40 %>
   <button class="btn" type="submit">Buscar</button>
    <%= link_to "Todos los Items", supermercado_path(@supermercado.id) %>
 </div>
 <% end %>
  <table>

    <tr>
      <td>Hora de Apertura - <%= "#{@supermercado.hora_de_apertura.hour}:#{@supermercado.hora_de_apertura.min == 0 ? "00" : @supermercado.hora_de_apertura.min}"   %></td>
    </tr>
    <tr>
      <td>Items:</td>
      <tr>
        <td></td>
        <% @item_inventarios.each do |item|  %>
        <tr>
          <td><%= item.nombre_producto %></td>
          <td><%= item.precio %></td>
          <td><%= item.unidad %></td>
          <td><%= item.tag_list %></td>
          <td>Cantidad Disponible:<%= item.cantidad_disponible %></td>
          <td><%= image_tag(item.link_imagen) if item.link_imagen %></td>
        </tr>
        <tr>
          <td><%= link_to "Edita Item", edit_supermercado_item_inventario_path(@supermercado.id, item.id) if current_user.is_administrador?%></td>
        </tr>
        <tr>
          <td><%= link_to "Compra Item", compra_path(:item_inventario_id => item.id) unless item.cantidad_disponible <= 0 %></td>
        </tr>
        <% end %>
      </tr>
      <tr>
        <td><%= link_to "Nuevo Item", new_supermercado_item_inventario_path(@supermercado) if current_user.is_administrador? %></td>
      </tr>
      <tr>
        <td><%= link_to "Supermercados", supermercado_index_path %></td>
      </tr>
    </tr>
  </table>